.container {
    margin: 10px 450px;
    padding: 30px 10px;
    border: 2px solid rgb(80, 92, 61);
    border-radius: 10px;
    width: 35%;
}

h3 {
    text-align: center;
    color: orangered;
}

#p {
    text-align: center;
}

form {
    background-image: url(fm.png);
}

.btn {
    width: 500px;
    background-color: lightsalmon;
}